
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.heading{
    color:green;
    font-size: 45px;
    font-variant: small-caps;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading2{
    font-size: 30px;
}

.main-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card{
    background-color: rgb(204, 235, 142);
    padding: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
   
}

.card-title{
    font-weight: bold;
    
}

.btn{
    background-color: rgb(143, 82, 8);
    color:white;
}  