

body {
    background-color:rgb(148, 245, 221)
     }
     h1{color:rgb(130, 13, 226);
     
     font-size:50px;
    }
     h2{color:rgb(8, 121, 165);        
     }
     
.text{
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     
 }   

 .link{
     color:rgb(233, 12, 12)
 }

 #main-pic {
    width:300px;  
    display:flex;
    margin-left:auto;
    margin-right:auto;
 }

 divs{
    border:solid 1px red;
 }

 .info-boxes{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
 }

 .box{
     padding:10px;
     width:25%
        
 }

 .sidebar{
    margin-right:15px;
    width:20%;
    padding:10px;
 }
 

